h1, h2{
    margin: 0;
    padding: 0;
}
body{
   margin: 0;
}
*{
    box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100vw;
  background: url("cute-brown-aesthetic-abstract-minimal-background-perfect-for-wallpaper-backdrop-postcard-background-vector.jpeg") center/cover no-repeat;

}
.grid-container{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    height: 60vh;
    max-height: 60vh;
    max-width: 100vh;
    margin: auto auto;
    margin-top: 150px;
}
.header{
    height: 10vh;
    width: 100%;
    padding-top: 200px;
    text-align: center;
}

.banner{
    text-align: center;
    border: solid 2px black;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 30px;
    background-color: aliceblue;
}
h2{
    margin: 40% 0 0 0 ;
    transform: translateY(-50%);
}
button{
    height: 60px;
    width: 250px;
    border: 2px solid #000;
    border-radius: 10px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
  }
  .modal-container {
    background: #ffff;
    width: 60vw;
    height: 60vh;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
  }
  .open-modal {
    visibility: visible;
    z-index: 10;
  }
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-red-dark);
    cursor: pointer;
    transition: var(--transition);
  }
  .close-btn:hover {
    color: var(--clr-red-light);
    transform: scale(1.3);
  }

@media screen and (max-width: 1850px) {
    .grid-container{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        width: 70vw;
    }

}

@media screen and (max-width: 1300px){
    .grid-container{
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(6, 1fr);
        width: 60vw;
        height: 100%;
    }
    .banner{
        height: 300px
    }
}
